@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  font-family: "Josefin sans", sans-serif;
  font-size: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.todo__contain {
  margin: 80px 0 50px 0;
  max-width: 540px;
  min-width: 320px;
  width: 90%;
  color: white;
  position: relative;
  z-index: 3;
}

.todo__contain__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.todo__contain__head > h1 {
  letter-spacing: 10px;
  font-weight: 700;
  font-size: 1.888em;
  text-transform: uppercase;
}

.todo__contain__head button {
  position: relative;
  cursor: pointer;
  width: 30px;
  height: 30px;
  border: none;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.todo__contain__head button > img {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: -webkit-transform 150ms ease;
  transition: -webkit-transform 150ms ease;
  transition: transform 150ms ease;
  transition: transform 150ms ease, -webkit-transform 150ms ease;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: contain;
     object-fit: contain;
}

.todo__contain__head button > img:first-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.todo__contain__head button > img:last-child {
  width: 85%;
  height: 85%;
}

.todo__contain__head > button:active > img {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
}

.todo__contain__input {
  margin: 40px 0 25px 0;
  width: 100%;
}

.todo__contain__input button {
  display: none;
}

.todo__contain__input input {
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 50px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 50px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
  padding: 5px 25px 0 25px;
  border-radius: 5px;
  border: none;
  background: #25273c;
  height: 65px;
  width: 100%;
  color: #cacde8;
  font-size: 1em;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
}

.todo__contain__input input.light {
  background: #fafafa;
  color: #484b6a;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 50px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.2) 0px 19px 50px, rgba(0, 0, 0, 0.1) 0px 15px 12px;
}

.todo__contain__input ::-webkit-input-placeholder {
  font-size: 0.888em;
  color: #777a92;
}

.todo__contain__input :-ms-input-placeholder {
  font-size: 0.888em;
  color: #777a92;
}

.todo__contain__input ::-ms-input-placeholder {
  font-size: 0.888em;
  color: #777a92;
}

.todo__contain__input ::placeholder {
  font-size: 0.888em;
  color: #777a92;
}

.todo__contain__list {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 50px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 50px, rgba(0, 0, 0, 0.2) 0px 15px 12px;
  border-radius: 5px;
  background: #25273c;
  width: 100%;
  -webkit-transition: 200ms ease;
  transition: 200ms ease;
  position: relative;
  z-index: 5;
}

.todo__contain__list .item__container:nth-child(2) {
  border-radius: 5px 5px 0 0;
}

.todo__contain__list.light {
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 50px, rgba(0, 0, 0, 0.2) 0px 5px 30px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 25px 50px, rgba(0, 0, 0, 0.2) 0px 5px 30px;
  color: #484b6a;
  background: #fafafa;
}

.item__empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 65px;
}

.item__empty p em {
  letter-spacing: 0.5px;
  opacity: 0.7;
  font-size: 0.777em;
  color: #777a92;
}

.item__empty em.light {
  color: #484b6a;
}

#description {
  opacity: 0.8;
  font-weight: 700;
  text-align: center;
  margin-top: 45px;
  font-size: 0.777em;
  color: #777a92;
}

#description.light {
  color: #484b6a;
}

@media screen and (max-width: 600px) {
  #description {
    font-size: 0.688em;
    margin-top: 100px;
  }
  .todo__contain {
    margin: 45px 0 50px 0;
  }
  .todo__contain__head h1 {
    font-size: 1.33em;
    line-height: 1.2;
  }
  .todo__contain__head button {
    width: 25px;
    height: 25px;
  }
  .todo__contain__list {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
  }
  .todo__contain__input {
    margin: 35px 0 15px 0;
  }
  .todo__contain__input input {
    -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
    padding: 4px 20px 0 20px;
    height: 48px;
    font-size: 0.722em;
  }
}
/*# sourceMappingURL=todo.css.map */