@function col($type, $col) {
  @return map-get($type, $col);
}

$Bright_Blue: hsl(220, 98%, 61%);

//  Check_Background: linear-gradient hsl(192, 100%, 67%) to hsl(280, 87%, 65%),

$lightT: (
  Very_Light_Gray: hsl(0, 0%, 98%),
  Very_Light_Grayish_Blue: #e4e5f1,
  Light_Grayish_Blue: #d2d3db,
  Dark_Grayish_Blue: hsl(236, 9%, 61%),
  Very_Dark_Grayish_Blue: hsl(235, 19%, 35%),
);

$darkT: (
  Very_Dark_Blue: hsl(235, 21%, 11%),
  Very_Dark_Desaturated_Blue: #25273c,
  Light_Grayish_Blue: hsl(234, 39%, 85%),
  Light_Grayish_Blue_hover: hsl(236, 33%, 92%),
  Dark_Grayish_Blue: hsl(234, 11%, 52%),
  Very_Dark_Grayish_Blue_1: hsl(233, 14%, 35%),
  Very_Dark_Grayish_Blue_2: #393a4c,
);
