@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
@import "./variable";

* {
  font-size: 18px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
}

.list__footer {
  position: relative;
  margin-top: -1px;
  border-top: 1px solid col($darkT, Very_Dark_Grayish_Blue_1);
  padding: 0 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 50px;
  transition: 200ms ease;
  > p {
    transition: 200ms ease;

    font-size: 0.777em;
    color: col($darkT, Dark_Grayish_Blue);
  }
  > p.light {
    color: col($lightT, Dark_Grayish_Blue);
  }
}

.list__footer.light {
  border-top: 1px solid col($lightT, Light_Grayish_Blue);
}

.list__footer__filter {
  display: flex;
  > div {
    label:nth-child(2) {
      margin: 0 20px;
    }
    label.light {
      transition: 200ms ease;
      color: col($lightT, Dark_Grayish_Blue);
    }
    label {
      color: col($darkT, Dark_Grayish_Blue);
      font-weight: 700;
      font-size: 0.777em;
      transition: 150ms ease;
      cursor: pointer;
      input {
        display: none;
      }
    }
  }
  button.light {
    color: col($lightT, Dark_Grayish_Blue);
  }
  button {
    margin-left: 50px;
    color: col($darkT, Dark_Grayish_Blue);
    font-size: 0.777em;
    background: transparent;
    transition: 150ms ease;
    border: none;
    cursor: pointer;
  }
}

.list__footer__filter.default {
  label:nth-child(1) {
    color: $Bright_Blue;
    pointer-events: none;
  }
}

.list__footer__filter.true {
  label:nth-child(2) {
    color: $Bright_Blue;
    pointer-events: none;
  }
}

.list__footer__filter.false {
  label:nth-child(3) {
    color: $Bright_Blue;
    pointer-events: none;
  }
}

@media (hover: hover) {
  .list__footer__filter {
    label.light:hover {
      color: col($lightT, Very_Dark_Grayish_Blue);
    }
    button.light:hover {
      color: col($lightT, Very_Dark_Grayish_Blue);
    }
    label:hover {
      color: col($darkT, Light_Grayish_Blue_hover);
    }
    button:hover {
      color: col($darkT, Light_Grayish_Blue_hover);
    }
  }
}

@media screen and (max-width: 600px) {
  .list__footer {
    p {
      font-size: 0.666em;
    }
    button {
      font-size: 0.666em;
    }
  }
  .list__footer__filter {
    > div {
      transition: 200ms ease;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 15px 25px,
        rgba(0, 0, 0, 0.2) 0px 10px 30px !important;

      > label {
        font-size: 0.722em;
      }
      > label:nth-child(2) {
        margin: 0 30px;
      }
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
        rgba(0, 0, 0, 0.04) 0px 10px 10px -5px !important;
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      width: 100%;
      height: 50px;
      left: 0;
      top: 65px;
      background: col($darkT, Very_Dark_Desaturated_Blue);
    }
    > div.light {
      background: col($lightT, Very_Light_Gray);
    }
  }
}
